# dependencies
/node_modules

# build output
/dist
/build

# environment files
.env
*.env

# Firebase/Google service account keys
*.json
src/firebase/serviceAccountKey.json

# IDE/workspace files
.vscode
.idea
