.border-danger {
  border: 2px solid #dc3545 !important;
}
.border-warning {
  border: 2px solid #ffc107 !important;
}
.border-success {
  border: 2px solid #28a745 !important;
}

.project-details-container {
  border-radius: 8px;
  border: 1px solid #eee;
  // box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.active-phase {
  background-color: #fdf8e3;
  border-left: 4px solid #ffc107;
}