@media (max-width: 768px) {
  .input-group {
    flex-direction: column;
    gap: 0.5rem;
  }

  .btn {
    width: 100%;
  }

  .modal-body .list-group-item {
    font-size: 0.9rem;
  }
}

.toast-top-center {
  margin-top: 10px !important; // ← عدل المسافة هنا
}

@media (max-width: 576px) {
  .input-group.flex-column input,
  .input-group.flex-column button {
    width: 100%;
  }
}
